nav{
    height: 50px;
    width: 90dvw;
    background-color: var(--color2);
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    scroll-snap-align: start;
    scroll-margin-top: 15px;
    border-radius: 15px;
}

nav>a{
    margin: 5px;
    color: var(--color4);
    font-size: 50px;
    font-weight: bolder;
    text-decoration: none;
}

.nav-links{
    display: flex;
}

.nav-links>a{
    color: var(--color4);
    text-decoration: none;
    padding: 10px;
    border-right: 1px solid;
    appearance: none;
}

.nav-links>:last-child{
    border-right: none;
}

.nav-links>a:hover{
    text-decoration:underline;
}