@keyframes scrollMenu {
    
    0%{transform: translateY(0);}
    50%{transform: translateY(-250px);}
    100%{transform: translateY(0);}
}

@keyframes moveEshop{

    0%{transform: translateX(-25%);}
    50%{transform: translateX(25%);}
    100%{transform: translateX(-25%);}
} 

@keyframes arribabajo {

    0%{transform: translateY(0);}
    100%{transform: translateY(-100%);}
    
}

.servicio{
    height: 300px;
    width: 550px;
    background-color:  #202124;
    position: relative;
    margin: 55px;
    border-radius: 15px;
    border: 3px solid black;
    overflow: hidden;

}



.item{
    height: 100%;
    width: 100%;
    background-color: var(--color2);
}

.menu{
    display: flex;
    overflow: hidden;
}

.menu-izq{
    height: 100%;
    width: 30%;
    border-right: 3px solid black;

    display: flex;
    box-shadow: 0 0 10px rgb(0, 0, 0);


}

.menu-izq>div>i{
    font-size: 40px;
    margin: 15px 15px;
}

.menu-izq>h1{
    margin: 0;
    font-size: 75px;
}

.menu-der{
    width: 70%;
    height: 500px;
    padding:0 1rem ;
    animation: scrollMenu 5s ease infinite;
}

.pics{
    overflow: hidden;
    display: none;
    gap: 0.5%;
}

.column-grid{
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 0.5%;
    animation: arribabajo 15s ease-in-out infinite;
}

.column-reverse{
    animation: arribabajo 13s ease reverse infinite;
}

.img-grid{
    height: 250px;
    width: 100%;
    background-color: var(--color4);
}


.servicio-texto{
    padding: 3rem;
    height: 50dvh;
    width: 60dvw;
    color: var(--color2);
    background-color: var(--color4);
    position: relative;
    border-radius: 15px 0 0 15px;
}










.eshop{
    display: none;
    background-color:  #202124;
    align-items: center;
    justify-content: center;
    animation: moveEshop 5s infinite ease-in-out;

}

.carta-eshop{
    min-height: 80%;
    min-width: 40%;
    margin: 5%;
    border-radius: 0 35px 15px 35px;

    position: relative;
}

.shop-btn{
    height: 30%;
    aspect-ratio: 1/1;
    position: absolute;
    background-color: var(--color2);
    border: 6px solid  #202124;
    bottom: -12px;
    right: -12px;
    border-radius: 15px 0 15px 0;
}

.shop-btn>i{
    color: var(--color4);
    font-size: 400%;
}

.info-carta{
    height: 100%;
    width: 100%;
    position: absolute;
    color: var(--color2);
    border-radius: inherit;
    padding-left: 5%;
    padding-top: 80%;
    background: linear-gradient(rgba(0, 0, 0, 0), black)
}

.carta-eshop{
    background: url('/Imgs/fotoProducto\ 2.jpg') bottom;
    background-size: cover;

}

.carta-dos{
    background: url('/Imgs/fotoProducto\ 3.jpg') center;
    background-size: cover;
}

.carta-tres{
    background: url('/Imgs/fotoProducto\ 1.jpg') center;
    background-size: cover;
}


@media (max-width: 1024px){

    .servicio-container{
        flex-direction: column-reverse;
        width: 95%;
        margin: 15px 0;
        box-shadow: 0 0 10px black;
        border-radius: 0 15px 15px 0;
    }
    .servicio{
        width: 100%;
        margin: 0;
        border-radius: 0 0 15px 0;
    }

    .menu-izq{
        flex-direction: column-reverse;
    }


    .menu-izq>div{
        display: flex;
    }

    .menu-izq>div>i{
        margin: 7px;
        font-size: 25px;
    }


    .servicio-texto{
        width: 100%;
        margin: 0;
        height: 50svh;
        border-radius: 0 15px 0 0;
        padding: 1.5rem;
    }

    .texto-a-ocultar{
        opacity: 0;
    }

    .info-carta{
        padding-left: 10%;
        padding-right: 70%;
        padding-top: 90%;
    }




}